<% unless params[:experimental] %>
<h1>Listing properties</h1>

<table id="all_properties" class="table datatable table-striped table-hover table-responsive" data-source="<%= properties_url(format: "json") %>">
  <thead>
    <tr>
      <th id="all_property_nickname">Nickname</th>
      <th id="all_property_description">Description</th>
      <th id="all_property_address">Address</th>
      <th id="all_property_income">Total Income</th>
      <th id="all_property_expenses">Total Expenses</th>
      <th id="all_property_miscellaneous">Total Miscellaneous</th>
      <th id="all_property_total">Overall Total</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <!-- Look into /app/datatables/properties_datatable.rb if you need to modify the data within the table. -->
  </tbody>

  <tfoot>
    <tr>
      <th colspan="3">Total Column Sums:</th>
      <td class="text-right"><%= number_to_currency @summation[:income], :precision => 2 %></td>
      <td class="text-right"><%= number_to_currency @summation[:expense], :precision => 2 %></td>
      <td class="text-right"><%= number_to_currency @summation[:miscellaneous], :precision => 2 %></td>
      <td class="text-right"><%= number_to_currency @summation[:overall], :precision => 2 %></td>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Property', new_property_path, :class => 'btn btn-large btn-primary' %>

<% else %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Portfolio Details</h3>
      </div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <th>Total Income:</th>
              <td class="text-right"><%= number_to_currency @summation[:income], :precision => 2 %></td>
            </tr>
            <tr>
              <th>Total Expense:</th>
              <td class="text-right"><%= number_to_currency @summation[:expense], :precision => 2 %></td>
            </tr>
            <tr>
              <th>Total Miscellaneous:</th>
              <td class="text-right"><%= number_to_currency @summation[:miscellaneous], :precision => 2 %></td>
            </tr>
            <tr>
              <th>Overall Total:</th>
              <td class="text-right"><%= number_to_currency @summation[:overall], :precision => 2 %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= link_to 'Add Property', new_property_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>

  <% @properties.each do |property| %>
      <% income = property.transactions.sum :income %>
      <% expense = property.transactions.sum :expense %>
      <% miscellaneous = property.transactions.sum :miscellaneous %>
      <% overall = (income + miscellaneous) - expense %>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to property.nickname, property %></h3>
          </div>
          <div class="panel-body">
            <p>
              <span class="descriptor">Description:</span><br>
              <%= property.description %>
            </p>
            <p>
              <span class="descriptor">Address:</span><br>
              <%= property.address %>
            </p>
            <p>
              <span class="descriptor">Income:</span><br>
              <span class="text-right"><%= number_to_currency income, :precision => 2 %></span>
            </p>
            <p>
              <span class="descriptor">Expense:</span><br>
              <span class="text-right"><%= number_to_currency expense, :precision => 2 %></span>
            </p>
            <p>
              <span class="descriptor">Miscellaneous:</span><br>
              <span class="text-right"><%= number_to_currency miscellaneous, :precision => 2 %></span>
            </p>
            <p>
              <span class="descriptor">Overall:</span><br>
              <span class="text-right"><%= number_to_currency overall, :precision => 2 %></span>
            </p>
          </div>
          <div class="panel-footer">
            <%= link_to 'Edit', edit_property_path(property), { :class => 'btn btn-primary btn-block' } %>
            <%= link_to 'Destroy', property, { method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-block'} %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<% end %>