<h3>Property Details <small id="notice"><%= notice %></small></h3>
<hr style="margin: 10px 0 0 0">
<div class="row">
  <div class="col-md-2">
    <strong>Nickname:</strong>
  </div>
  <div class="col-md-10">
    <%= @property.nickname %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Description:</strong>
  </div>
  <div class="col-md-10">
    <%= @property.description %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Address:</strong>
  </div>
  <div class="col-md-10">
    <%= @property.address %>
  </div>
</div>

<% if @property.transactions.length > 0 %>
    <h3>List of Transactions</h3>
    <table id="all_property_transactions" class="table datatable table-striped table-hover table-responsive" data-source="<%= property_url(format: "json") %>">
      <thead>
        <tr>
          <th id="all_property_transaction_account" class="text-capitalize"><%= :account %></th>
          <th id="all_property_transaction_date" class="text-capitalize"><%= :date %></th>
          <th id="all_property_transaction_income" class="text-capitalize"><%= :income %></th>
          <th id="all_property_transaction_expense" class="text-capitalize"><%= :expense %></th>
          <th id="all_property_transaction_miscellaneous" class="text-capitalize"><%= :miscellaneous %></th>
          <th id="all_property_transaction_comment" class="text-capitalize"><%= :comment %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%# render @transactions %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="2">Total Column Sum:</th>
          <td class="text-right"><%= number_to_currency @summation[:income], :precision => 2 %></td>
          <td class="text-right"><%= number_to_currency @summation[:expense], :precision => 2 %></td>
          <td class="text-right"><%= number_to_currency @summation[:miscellaneous], :precision => 2 %></td>
          <th colspan="2">Overall Total:</th>
          <td class="text-right"><%= number_to_currency @summation[:overall], :precision => 2 %></td>
        </tr>
      </tfoot>
    </table>
<% end %>

<hr style="margin: 10px 0 0 0">

<ul class="nav nav-pills navbar-left">
  <li><%= link_to "New Transaction", new_property_transaction_path(@property) %></li>
</ul>

<ul class="nav nav-pills navbar-right">
  <li><%= link_to 'Edit', edit_property_path(@property) %></li>
  <li><%= link_to 'Back', properties_path %></li>
</ul>
