<ol class="breadcrumb">
  <li><%= link_to @transaction.property.nickname, @transaction.property %></li>
  <li class="active"><%= @transaction.account %></li>
</ol>

<h3>Transaction Details <small id="notice"><%= notice %></small></h3>
<hr style="margin: 10px 0 0 0">

<div class="row">
  <div class="col-md-2">
    <strong>Account:</strong>
  </div>
  <div class="col-md-10">
    <%= @transaction.account %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Date:</strong>
  </div>
  <div class="col-md-10">
    <%= @transaction.date %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Income:</strong>
  </div>
  <div class="col-md-10">
    <%= number_to_currency @transaction.income, :precision => 2 %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Expense:</strong>
  </div>
  <div class="col-md-10">
    <%= number_to_currency @transaction.expense, :precision => 2 %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Miscellaneous:</strong>
  </div>
  <div class="col-md-10">
    <%= number_to_currency @transaction.miscellaneous, :precision => 2 %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Comment:</strong>
  </div>
  <div class="col-md-10">
    <%= @transaction.comment %>
  </div>
</div>

<ul class="nav nav-pills navbar-right">
  <li><%= link_to 'Edit', edit_property_transaction_path(@transaction.property, @transaction) %></li>
  <li><%= link_to 'Back', :back %></li>
</ul>
