<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Property Ledger' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to properties_path, { id: 'logo' } do %>
            <h1>Property Ledger</h1>
        <% end %>
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if user_signed_in? %>
                <li><%= link_to 'List Properties', properties_path %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
            <%# FIXME: This is commented out because I don't know it I will eventually. %>
            <!--<li><%# link_to "List Transactions", { controller: 'transactions', action: 'index' } %></li>-->
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
